.table {
    display: table;
    width: 100%;
    padding: 0px;
    border-collapse:collapse;
}

.row {
    display: table-row;
    padding: 0px;
}

.column {
    display: table-cell;
    border: 1px solid #666;
    padding: 4px;
}

.column.head {
    font-weight: bold;
}

.row.active {
    background-color: #BBFFBB;
}

.row.fallback {
	background-color: #FFFFBB;
}

.row.toofaraway {
	background-color: #FFBBBB;
}
