.table {
	display: table;
	width: 100%;
	padding:0px;
}

.row {
	display: table-row;
	padding:0px;
}

.column {
	display: table-cell;
	border: 1px solid #666;
	padding:4px;
}

.row.active {
	background-color: #EE8888;
}
