<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <description>indoorpos server</description>
    <display-name>indoorpos</display-name>

    <servlet>
        <servlet-name>RouterServlet</servlet-name>
        <servlet-class>com.holgerhees.shared.web.RouterServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouterServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>applicationClass</param-name>
        <param-value>com.holgerhees.indoorpos.frontend.FrontendApplication</param-value>
    </context-param>
</web-app>
